<style>
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.channel_label {
	width: 20px;
	float: left;
}

.channel_textbox {
	width: 50px;
	float: right;
}

.profile_button {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}

.profile_button:hover {
	color:#000000;
	background-color:#FFFFFF;
}

@media all and (max-width:30em) {
	.profile_button {
		display:block;
		margin:0.4em auto;
	}
}

.content {
	width: 100%;
}

.profile_panel {
	width: 20%;
	min-width: 150px;
	height: 100%;
	float: left;
	background-color: #959595;
 }

.main {
	overflow: hidden;
}

.space_right {
	width: 10%;
	min-width: 80px;
	float: right;
}

.space_left {
	width: 10%;
	min-width: 80px;
	float: left;
}
</style>
<div id="rgb" class="content">

	<div class="profile_panel">
		<span v-for="profile in profiles.list" style="margin: auto;">
			<profile-button v-bind:name="profile.name" v-bind:index="profile.index" v-on:profile-click="setProfile($event)"></profile-button><br>
		</span>
	</div>

	<div class="space_left">
		<h3> </h3>
	</div>

	<div class="space_right">
		<h3> </h3>
	</div>

	<div class="main">
		<br><br><br><br><br><br><br><br>
		<input id="hex_color" type="color" id="html5colorpicker" v-on:change="hex" v-model="hex_val" style="width: 100%"><br><br>
		<rgb-input channel="R" v-bind:val="r" v-on:color-change="color(0, $event)"></rgb-input><br><br>
		<rgb-input channel="G" v-bind:val="g" v-on:color-change="color(1, $event)"></rgb-input><br><br>
		<rgb-input channel="B" v-bind:val="b" v-on:color-change="color(2, $event)"></rgb-input><br><br>
	</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var rgb_controller = new Vue({
	el: "#rgb",
	data: {
		hex_val: "#000000",
		r: 0,
		g: 0,
		b: 0,
		profiles: {
			current: 0,
			list: [
				{
					name: "whaddup",
					index: 0
				},
				{
					name: "double",
					index: 1
				}
			]
		}
	},
	components: {
		'rgb-input': {
			props: {
				channel: 	String,
				val: 		Number
			},
			template: `
				<span><h class="channel_label">{{ channel }}:</h>
					<input type="number" v-model="val" v-on:change="$emit('color-change', val)" min="0" max="255" class="channel_textbox"></input>
					<input type="range" v-model="val" v-on:change="$emit('color-change', val)" min="0" max="255" class="slider"></input> 
				</span>
			`
		},
		'profile-button': {
			props: {
				name: 		String,
				index: 		Number
			},
			template: `
				<button v-on:click="$emit('profile-click', index)" class="profile_button"> {{ name }} </button>
			`
		}
	},
	methods: {
		hex: function() {
			this.hex_val = document.getElementById("hex_color").value;
			var color = parseColor(this.hex_val);
			this.r = color[0]; this.g = color[1]; this.b = color[2];

			var msg = {
				"type": "full",
				"data": {
					"color": [this.r, this.g, this.b]
				}
			}
			window.external.invoke(JSON.stringify(msg))
		},
		color: function(channel, val) {
			switch(channel) {
				case 0:
					this.r = parseInt(val,10);
					break;
				case 1:
					this.g = parseInt(val,10);
					break;
				case 2:
					this.b = parseInt(val,10);
					break;
				default:
					console.log("Invalid color channel");
					return;
			}
			this.hex_val = rgbToHex(this.r, this.g, this.b);

			var msg = {
				"type": "channel",
				"data": {
					"index": channel,
					"value": parseInt(val,10)
				}
			}
			window.external.invoke(JSON.stringify(msg))
		},
		set: function(profile) {
			this.r = profile.color[0];
			this.g = profile.color[1];
			this.b = profile.color[2];
			this.hex_val = rgbToHex(this.r, this.g, this.b);
			this.profile = profile.index;
		},
		setProfile: function(index) {
			this.profiles.current = index;
			console.log(index);
		}
	},
	created: function() {
		this.$on('set', this.set);
	}
})

function parseColor(input) {
	var m = input.match(/^#([0-9a-f]{6})$/i)[1];
	if(m) {
		return [
			parseInt(m.substr(0,2),16),
			parseInt(m.substr(2,2),16),
			parseInt(m.substr(4,2),16)
		];
	}
}

function componentToHex(c) {
	if(typeof c === "string") {
		c = parseInt(c, 10);
	}
	var hex = c.toString(16);
	return hex.length == 1 ? "0" + hex : hex;
}

function rgbToHex(r, g, b) {
	return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
}
</script>
