.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.channel_label {
	width: 20px;
	float: left;
}

.channel_textbox {
	width: 50px;
	float: right;
}

.profile_button {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}

.profile_button:hover {
	color:#000000;
	background-color:#FFFFFF;
}

@media all and (max-width:30em) {
	.profile_button {
		display:block;
		margin:0.4em auto;
	}
}

.content {
	width: 100%;
	margin: 0;
	padding: 0;
}

.profile_panel {
	width: 20%;
	min-width: 150px;
	height: 100%;
	float: left;
	background-color: #959595;
 }

.main {
	overflow: hidden;
}

.space_right {
	width: 10%;
	min-width: 80px;
	float: right;
}

.space_left {
	width: 10%;
	min-width: 80px;
	float: left;
}