.rgb-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.slider {
	-webkit-appearance: none;
	flex-grow: 1;
	order: 2;
	height: 15px;
	border-radius: 5px;   
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #404040;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #404040;
	cursor: pointer;
}

.channel_label {
	width: 20px;
	order: 1;
}

.channel_textbox {
	width: 50px;
	order: 3;
}

.panel {
	width: 20%;
	min-width: 150px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
 }

.profiles {
	float: left;
	background-color: #959595;
}

.modes {
	float: right;
	background-color: #595959;
}

.button {
	background-color:#b7b7b7;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto',sans-serif;
	text-decoration:none;
	order: 2;
}

.button:hover {
	background-color:#d6d6d6;
}

.bold {
	font-size:18px;
	font-weight:bold;
	text-shadow:0px 1px 0px #000000;
}

.delete {
	display:inline-block;
	background-color:#ffffff;
	border: 0px;
	cursor:pointer;
	color:#dddddd;
	font-family:'Roboto',sans-serif;
	text-decoration:none;
}

.delete:hover {
	color: #d00000;
}

.header {
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: linear-gradient(to right, blue, purple);
}

.content {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.main {
	overflow: auto;
}

.space_right {
	width: 10%;
	min-width: 80px;
	float: right;
}

.space_left {
	width: 10%;
	min-width: 80px;
	float: left;
}