<div id="rgb" class="content">

	<head>
		<div class="header">
			<h3> </h3>
		</div>
	</head>

	<body>
		<div class="profiles panel">
			<span v-for="profile in profiles.list">
				<profile-button v-bind:name="profile.name" v-bind:index="profile.index" v-on:profile-click="setCurrentProfile($event)"></profile-button><br>
			</span>
			<br>
			<button class="button bold" v-on:click="newProfile()">+</button><br>
		</div>

		<div class="modes panel">
			<h3> </h3>
		</div>

		<div class="space_left">
			<h3> </h3>
		</div>

		<div class="space_right">
			<h3> </h3>
		</div>

		<div class="main">
			<br><br><br><br>

			<input type="text" v-model="profiles.list[profiles.current].name" v-on:change="setName()"></input>
			<button class="delete bold" v-on:click="deleteProfile()">x</button><br>

			<select v-model="profiles.list[profiles.current].mode" v-on:change="setMode()">
				<option value="static">Static</option>
				<option value="rainbow">Rainbow</option>
				<option value="strobe">Strobe</option>
				<option value="fade">Fade</option>
			</select>
			<span v-if='profiles.list[profiles.current].mode != "static"'> Speed: <input type="number" v-model="profiles.list[profiles.current].speed" v-on:change="setSpeed()" min="0" max="2000"></input> </span>
			<br>

			<br><br><br><br>
			<input id="hex_color" type="color" id="html5colorpicker" v-on:change="hex" v-model="hex_val" style="width: 100%"><br><br>
			<rgb-input channel="R" v-bind:val="profiles.list[profiles.current].color[0]" v-on:color-change="setChannel(0, $event)" v-bind:gradient="gradients.R"></rgb-input><br><br>
			<rgb-input channel="G" v-bind:val="profiles.list[profiles.current].color[1]" v-on:color-change="setChannel(1, $event)" v-bind:gradient="gradients.G"></rgb-input><br><br>
			<rgb-input channel="B" v-bind:val="profiles.list[profiles.current].color[2]" v-on:color-change="setChannel(2, $event)" v-bind:gradient="gradients.B"></rgb-input><br><br>
		</div>
	</body>

</div>